<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conexionAriel" connectionString="Data Source=localhost;port=3306;Initial Catalog=sistemaindustrial;User Id=root;password=kamila;SslMode=none;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>